<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>苹果试玩平台大全</title>
	<link rel="icon" href="/img/logo.png">
	<link href="css/swiper-3.4.1.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/css/style.css">
    <script src="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/js/vue.js"></script>

    <script>
	
		if (!/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) { //如果不是移动端跳转至404
			alert('请使用手机访问appsw.me');
			window.location.href = '404.html'
		}
		
		
    </script>
	<style>
		.swiper-container {
			width:auto;
			height:auto;
			border-radius:10px;
			margin:15px;
		}  
		.swiper-pagination-bullet{
			background:white;
			height:10px;
			width:10px;
		}
	</style>
  </head>
  <body>
	<div id="app">
	<!-- <div class="header">
		<h1>苹果手机试玩推荐</h1>
	</div> -->
	
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" v-for="(site,i) in lunbo" class="item">
				<!-- 开启CDN 且 不包含http就启用CDN地址 否则使用原地址-->
				<a v-bind:href="site.href"><img v-bind:src="(cdn && (site.url.indexOf('http')==-1)?cdn_url:'')+site.url"  style="height:100%;width:100%;"></a>
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination" ></div>
	</div>	
	

	<!-- 公告栏 -->
	<div style="height:20px;margin:10px 20px;display:flex;height:auto;align-items:center;">
		<img src="/img/icon-voice.png" style="height:20px;width:20px;"/>
		<div style="flex:1;margin-left:10px">
			多个平台一起玩收入更多
		</div>
		<div style="margin-right:10px">
			<a href="/pages/jiaocheng/" >
			<button type="button" class="btn btn-default" aria-label="Left Align" style="color:#286090" href="https://www.baidu.com/" target="_blank">
			  新手教程
			</button>
			</a>
		</div>
	</div>
	
<!-- 	
	<div v-for="(item,i) in pingtai" style="border-bottom:1px solid #eee;height:auto;width:auto;">
		<div style="display:flex;align-items:center;padding:10px 20px">
			<img v-bind:src="(cdn?cdn_url:'')+item.ico" alt="" style="height:60px;width:60px;border-radius:5px;">
			<div style="flex:1;margin-left:10px;">
				<h2 style="font-size:20px;margin:4px 0">试玩平台{{ i+1 }}</h2>
		   	  	<h4>任务单价1-2元，{{ item.desc}}</h4>
			</div>
			<a v-bind:href='item.href' style="background:#5CB85C;color:white;padding:8px 12px;border-radius:4px">去赚钱</a>
		</div>
	
	</div> -->

	<div class="container-fluid" id="pingtai">
	  <div class="row">

	  		<!-- 平台内容 -->
	  	  	  <div class="col-xs-12 col-md-12 pingtai" v-for="(item,i) in pingtai">
		   	  	<img v-bind:src="(cdn?cdn_url:'')+item.ico" alt="">
		   	  	<h2>试玩平台{{ i+1 }}</h2>
		   	  	<h4>任务单价1-2元，{{ item.desc}}</h4>
		   	  	<a v-bind:href='item.href' class="btn btn-success">去赚钱</a>
		   	  </div>
		  
	  </div>
	</div>
	</div>
    <script src="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/js/jquery1.12.2.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xyz888/appsw@gh-pages/js/bootstrap.js"></script>
	<script src="js/swiper-3.4.1.min.js"></script>
    <script src="/js/data.js"></script>
	<script>
		
	var mySwiper = new Swiper ('.swiper-container', {
		direction : 'horizontal',
		loop: true,
		autoplay : 2000,
		
		// 如果需要分页器
		pagination: '.swiper-pagination',
		

	
	  })

	  

	</script>
    

  </body>
</html>